@import "tailwindcss";
@import "pixel-retroui/dist/index.css";

@font-face {
    font-family: "Dunggeunmo";
    src: url("/fonts/Dunggeunmo.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Dunggeunmo", sans-serif;
}

* {
    font-family: "Dunggeunmo" !important;
}